@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root{
    --secondary: #d6d6d6;
    --accent: #aeefff;
    --bkg: #fff;
    --text: #000;

    /** I colori seguenti servono per le impostazioni del tema, non sostituire senza un avviso a tutti per fixare JS relativo */

    --accent1: #aeefff;
    --accent2: #ffb871;
    --accent3: #eac6f1;
    --accent4: #ad2e2e;
    --accent5: #a9ffb8;
    --accent6: #fff27a;
}

@media (prefers-color-scheme: dark){
    :root{
        --secondary: #252525;
        --accent: #d86c00;
        --bkg: #000;
        --text: #fff;

        --accent1: #0ea9cf;
        --accent2: #d86c00;
        --accent3: #c70bec;
        --accent4: #9b1616;
        --accent5: #129728;
        --accent6: #e6bb00;
    }
}

body{
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: var(--bkg);
    color: var(--text);
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
    width: 100% !important;
    overflow: hidden;
}
#root{
    overflow: hidden;
}
*{
    margin: 0;
    padding: 0;
    color: var(--text);
}
.hidden{
    display: none;
}
button{
    cursor: pointer;
}

.nunito{
   font-family: 'Nunito', sans-serif;
}
.ubuntu{
   font-family: 'Ubuntu', sans-serif;
}

.firebase-emulator-warning{
    display: none;
}

@media only screen and (max-width: 900px) {
    .accessibilityMenu{
        display: flex;
        width: calc(100% - 2rem);
        border-radius: .4rem;
        height: 2rem;
        margin: 1rem;
        position: fixed;
        background-color: var(--secondary);
        box-shadow: rgba(0, 0, 0, 0.205) 0 0 1rem .1rem;
        align-items: center;
        gap: .5rem;
        justify-content: space-between;
        -webkit-tap-highlight-color: transparent;
    }
    .accessibilityMenu > span{
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    .accessibilityWrapper{
        height: 2rem;
    }
    .zoomWrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 5rem;
    }
    .zoomWrapper > span{
        cursor: pointer;
    }
}

.legalArticle{
    margin: 1rem;
}